#region-main .new-carousel{
  display: block !important;
}

.nc-caption {
  padding: 1rem 2rem !important;
}

.nc-buttons {
  padding: 0 2rem !important;
  width: 100% !important;
}

button:last-child, .btn:last-child {  
  margin: 0.5rem 0 !important;
}

ul.indic-dots {
  padding-top: 1rem !important;
}


