body, select, option {
  font-family: 'Open Sans', sans-serif; 
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  margin: 1rem 0;
}
h2 {
  margin-top: 1rem;
}
section h3 {
  margin-bottom: 1rem;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
#component-builder, #component-code {
  display: none;
}
.component-header {
  margin-left: 45px;
}
.component-content {
  display: none;
  margin: 1.5rem 0;
}
.component-content.selected {
  display: block;
}
.option {
  border-top: 1px solid rgba(0,0,0,.125);  
  align-items: center;
}
.option-select {
  align-items: center;
}
.btn.active {
  border: 2px solid #000 !important;
}
textarea {
  width: 100%
}
.btn.btn-outline-dashed {
   border: 1px dashed rgba(0,0,0,.125);
}
.btn.btn-outline-dashed:hover {
  background: rgba(0,0,0,.05);
  border: 1px dashed rgba(0,0,0,.25);
}
.btn-group-toggle {
  margin-bottom: 5px;
}
.btn-group-block {
  width: 100%;
}
.input-group-append button:not(:first-of-type) {
  border-left: none;  
}
.input-set {
  margin-left: 20px;
}

/* preview styles */
.preview {
  margin-bottom: 2rem;
}
.preview-pane {
  border: 1px solid rgba(0,0,0,.125);
}
pre {
  margin: 0 !important;
}
/* code box styles */
.code-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.code-title:not(only-child) {
  margin-bottom: 0 !important;
}
.code-box {
  border: 1px solid rgba(0,0,0,.125);  
  font-size: 12px;
}
.code-text {
  max-height:25rem;
}

/* embed styles */
/*.embed-responsive {
  position: relative;
  overflow: hidden;
}
.embed-responsive-608by402 {
  padding-top: calc(402%/6.08);
}
.embed-responsive-400by285 {
  padding-top: calc(285%/4);
}
.embed-responsive-304by231 {
  padding-top: calc(231%/3.04);
}*/
