body, select, option {
  font-family: 'Open Sans', sans-serif; 
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  margin: 1rem 0;
}
h2 {
  margin-top: 1rem;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
#component-builder, #component-code {
  display: none;
}
.component-header {
  margin-left: 45px;
}
.component-content {
  display: none;
  margin: 1.5rem 0;
}
.component-content.selected {
  display: block;
}
.option {
  border-top: 1px solid rgba(0,0,0,.125);  
  align-items: center;
}
.option-select {
  align-items: center;
}
.btn.active {
  border: 2px solid #000 !important;
}
div#button .btn, div#button input, div#button textarea {
  margin: 5px;
}
textarea {
  width: 100%
}
.btn.btn-outline-dashed {
   border: 1px dashed rgba(0,0,0,.125);
}
.btn.btn-outline-dashed:hover {
  background: rgba(0,0,0,.05);
  border: 1px dashed rgba(0,0,0,.25);
}
.btn-group-toggle {
  margin-bottom: 5px;
}
.btn-group-block {
  width: 100%;
}
.input-group-append button:not(:first-of-type) {
  border-left: none;  
}
.input-set {
  margin-left: 20px;
}

/* preview styles */
.preview-title {
  position: absolute;
  top: -50px;
  font-size: 24px;
}
.preview-pane {
  border: 1px solid rgba(0,0,0,.125);
}

/* code box styles */
.code-title, .code-box, .copy-btn {
  font-family: 'PT Mono', monospace;
}
.code-title {
  font-size: 24px;
}
.code-box {
  border: 1px solid rgba(0,0,0,.125);  
  font-size: 12px;
}
.code-text {
  max-height:25rem;
}

/* embed styles */
.embed-responsive {
  position: relative;
  overflow: hidden;
}
.embed-responsive-608by402 {
  padding-top: calc(402%/6.08);
}
.embed-responsive-400by285 {
  padding-top: calc(285%/4);
}
.embed-responsive-304by231 {
  padding-top: calc(231%/3.04);
}