h1, h2, h3, h4, h5, h6 {
  font-family: 'KingsBureauGrot';
}
body, select, option {
  font-family: 'KingsBureauGrotFiveOne';
}
.row {
  background: transparent;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
}
.nav-tabs {
  border-bottom: 1px solid #0B5584;
}
.nav-tabs > li > a {
  color: #0B5584;
}
input[type="text"] {
  height: auto;
}
textarea {
  font-family: Open Sans, sans-serif;
}
section {
  margin: 1rem 0 2rem 0;
}
.subsection {
  margin-bottom: 3rem;
}
form {
  margin-bottom: 1rem;
}
.form-group {
  padding-right: unset;
  padding-left: unset;
}
h1, p.header {
  margin-left: 0.7rem;
}
h2 {
  margin-top: 1rem;
}
section h3 {
  margin-bottom: 1rem;
}
section.options p {
    margin-left: 0;
}
img {
  height: auto;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
#component-builder, #component-code {
  display: none;
}
.component-content {
  display: none;
  margin: 1.5rem 0.8rem;
}
.component-content.selected {
  display: block;
}
.option {
  border-top: 1px solid rgba(0,0,0,.125);  
  align-items: center;
}
.option-select {
  align-items: center;
}
.btn.active {
  border: 2px solid #000 !important;
}
textarea {
  width: 100%
}
.btn.btn-outline-dashed {
   border: 1px dashed rgba(0,0,0,.125);
}
.btn.btn-outline-dashed:hover {
  background: rgba(0,0,0,.05);
  border: 1px dashed rgba(0,0,0,.25);
}
.btn-group-toggle {
  margin-bottom: 5px;
}
.btn-group-block {
  width: 100%;
}
.input-group-append button:not(:first-of-type) {
  border-left: none;  
}
.input-set {
  margin-left: 20px;
}

/* preview */
.preview {
  margin-bottom: 2rem;
}
.preview-pane {
  border: 1px solid rgba(0,0,0,.125);
}

/* code box */
.code-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
h3.code-title {
  padding-top: .6rem;
}
.code-title:not(only-child) {
  margin-bottom: 0 !important;
}
.code-box {
  border: 1px solid rgba(0,0,0,.125);  
  font-size: 12px;
  overflow: auto;
}
.code-text {
  max-height:25rem;
}
pre {
  margin: 0 !important;
  padding: unset;
  background-color: unset;
  border: unset;
  font-size: 10.5px;
  line-height: 15.75px;
}

.whiteBackground {
  background-color: #ffffff;
}
/* collapse */
.collapse-container .collapse-card .collapse-body {
  padding-right: unset;
}

/* timeline */
#builder-timeline #timeline {
  display: block;
}

/* transcript */
.transcript-container .card-body {
  background-color: unset;
  font-family: 'Open sans';
}

/* builder alerts */
.alert {
  color: #000 !important;
  border-radius: 6px;
  border: none;
  position: relative;
  background-color: #d2e6f9;
}
.alert > :first-child::before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  position: absolute;
  top: 20px;
  left: 24px;
}
.alert-btw > :first-child::before {
  content: '\f5fc';
}
.alert-nope > :first-child::before {
  content: '\f236';
  padding: 0 2px;
}

#component-faqs a {
  text-decoration: underline !important;
}
.editing-help-box {
  display: block !important;
}

/* ADITIONAL COMPONENT STYLING FOR REVIEW */

.row {
  background-color: #ffffff;
}


.ml {
  margin-left: 14px;
}

.component-header {
  margin-left: 1rem;
}


