#region-main .new-carousel .nc-gallery {
  list-style: none;
  counter-reset: none;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  overflow-x: scroll;
  counter-reset: item;
  scroll-snap-type: x mandatory;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#region-main .portrait-carousel .nc-gallery li figure {
  border: 0 !important;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
}
main #region-main .new-carousel.portrait-carousel .nc-gallery > li figure > .filter-ally-wrapper > img.nc-image, #region-main .new-carousel.portrait-carousel .nc-gallery > li figure img.nc-image {
  height: auto;
  margin-bottom: auto;
}

#region-main .new-carousel.portrait-carousel .nc-gallery > li figure > .filter-ally-wrapper, #region-main .new-carousel.portrait-carousel .nc-gallery > li figure > img, #region-main .new-carousel.portrait-carousel .nc-gallery > li figure figcaption {
  vertical-align: top;
  height: auto;
}
img {
  height: auto;
}
#region-main .new-carousel .nc-gallery li {
  scroll-snap-align: start;
  display: inline-block;
  height: 100%;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  flex: 0 0 100%;
}
#region-main .portrait-carousel .nc-gallery li figure figcaption.nc-description {
  padding: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// figure {
//   //display: block;
//   // margin-block-start: 1em;
//   // margin-block-end: 1em;
//   // margin-inline-start: 40px;
//   // margin-inline-end: 40px;
// }

@media only screen and (max-width: 768px)
{
  #region-main .new-carousel.portrait-carousel .nc-gallery > li figure {
    display: flex;
}
}

#region-main .new-carousel.portrait-carousel .nc-gallery > li figure > .filter-ally-wrapper > img.nc-image, #region-main .new-carousel.portrait-carousel .nc-gallery > li figure img.nc-image {
  align-self: flex-start;
  justify-self: flex-start;
  width: 40%;
  height: auto;
  padding: 1.5rem !important;
  margin-bottom: auto;
}


#region-main .new-carousel .nc-gallery {
  position: relative !important;
  height: auto;
}

#region-main .new-carousel .nc-buttons {
  padding: 0 2.25rem 0.5rem 2.25rem;
  margin: 0 !important;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#region-main .new-carousel .indic-dots {
  text-align: center;
  z-index: 31;
  max-width: 200px;
  left: calc(50% - 50px);
  padding: 0;
  margin: 0.6rem 0 0 0;
}