#region-main .new-carousel .nc-gallery {
  list-style: none;
  counter-reset: none;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  overflow-x: scroll;
  counter-reset: item;
  scroll-snap-type: x mandatory;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#region-main .portrait-carousel .nc-gallery li figure {
  border: 0 !important;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
}
#region-main .portrait-carousel .nc-gallery li figure , #region-main .portrait-carousel .nc-gallery li figure > img, #region-main .portrait-carousel .nc-gallery li figure figcaption {
  width: 49%;
  min-height: 1px;
  vertical-align: top;
  border: 0px;
  position: relative;
  padding: 0;
  margin: 0;
}
img {
  height: auto;
}
#region-main .new-carousel .nc-gallery li {
  scroll-snap-align: start;
  display: inline-block;
  height: 100%;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  flex: 0 0 100%;
}
#region-main .portrait-carousel .nc-gallery li figure figcaption.nc-description {
  padding: 1rem;
}
#region-main .portrait-carousel .nc-gallery li figure figcaption.nc-description {
  background: transparent;
  padding: 2.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}